@import './nav.css';

:root {
  --dark: rgb(20, 20, 20);
  --yellow: rgb(253, 216, 53);
  --blue: rgb(98, 0, 234);
  --white: #ffffff;
  --light-grey: #edf0f1;
  --violet: #655be1;
  --dark-violet: #5146e1;
  --black: #21232a;
  --c1: rgb(3, 7, 18);
  --c2: rgb(117, 12, 182);
  
  --left-color: var(--c1);
  --right-color: var(--c2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  /* background-color: var(--dark); */
}
footer{
  position: fixed;
  bottom: 0;
  margin-left: 45%;
  z-index: 3;
}
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.hide{
  display: none;
}
.side {
  display: grid;
  height: 100vh;
  overflow: hidden;
  /* place-items: center; */
  position: absolute;
  width: 100%;
}

.side .title {
  font-family: "Montserrat", sans-serif;
  font-size: 7vw;
  font-weight: 800;
  margin: 0px 10vw;
  width: 80vw;
}

.side .fancy {
  font-family: "Permanent Marker", cursive;
  font-size: 1.8em;
  line-height: 0.6em;
}

.left-side {
  background-color: var(--left-color);
  width: 50%;
  z-index: 2;
}

.left-side .title {  
  color: white;  
}

.left-side .fancy {
  color: var(--right-color);
}

.right-side {
  background-color: var(--right-color);
}

.right-side .title {
  color: var(--dark);
}

.right-side .fancy {
  color: white;
}

.parallax {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Test_Site_by_Carsten_H%C3%B6ller.jpg/800px-Test_Site_by_Carsten_H%C3%B6ller.jpg');  
	/* Full height */
	height: 400px; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  width: 100vw;
  }
.parallax-text{
	padding-top: 200px;
	font-size: 7vw;
  text-align: center;
}
.parallax-text-last{
	margin-bottom: -25px;
	padding-top: 10px;
}
.parallax a{
	color: #ff00ff;
	text-decoration: none;
	font-weight: bold;
}

#mnn .left-side{
  color: white;
}

@media screen and (max-width: 768px) {
  .parallax{
    background-attachment: initial;
  }
}